.AppSetting {
  position:fixed;
  z-index:5000;
  top:0;
  width:100%;
  height:100vh;
  background:var(--default_w);
}
.mapWrap {
  position:fixed;
  width:100%;
  height:100vh;
  top:0;
  left:0;
  z-index:6000;
}